.item {
  width: 15rem;

  list-style: none;
  margin: 1em;
}
.link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #333;
  position: relative;
}
.link:hover {
  opacity: 0.8;
}
.img {
}
.iconBest {
  position: absolute;
}
.name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score {
  margin: 0;
  height: 2rem;
}

.price {
  font-size: 1rem;
  font-weight: bold;
}
