.recomands {
  text-align: center;
  font-size: 1.6rem;
}

.about {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.aboutTitle {
  font-size: 8rem;
  text-align: right;
  margin: 0;
}
.aboutEng,
.aboutKor {
  color: rgb(50, 50, 50);
}

.aboutEng {
  margin-top: 1rem;
  font-size: 1.4rem;
  text-align: start;
  margin-left: 10rem;
}
.aboutKor {
  font-size: 1.2rem;
  text-align: end;
  margin-right: 10rem;
  margin-bottom: 10rem;
}
