.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title {
  font-weight: bold;
}
.input {
  width: 3rem;
  font-size: 1rem;
  border: 3px solid tomato;
  border-top: none;
  border-left: none;
  border-right: none;
  outline-style: none;
}
.button {
  width: 10rem;
  height: 2.3rem;
  background-color: transparent;
  color: tomato;
  font-weight: bold;
  font-size: 1rem;
  border: 3px solid tomato;
  border-radius: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: tomato;
  color: white;
}
