.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexContainer {
  /* 반응형 디자인 적용 */
  display: flex;
  align-items: center;
}
.inputContainer {
  width: 30rem;
  display: flex;
  flex-direction: column;

  margin: 1rem 0;
}
.titleContainer {
  width: 30rem;
  display: flex;
  justify-content: space-between;
}
.inputTitle {
  width: 90%;
  outline: none;
  background-color: rgba(255, 244, 242, 0.872);
  border: 2px solid tomato;
  border-top: none;
  border-right: none;
  border-left: none;
  margin: 1rem 0;
}
.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-left: 1rem;
}
.btnSubmit {
  width: 20rem;
  font-size: 1rem;
  font-weight: bold;
  color: tomato;
  background-color: transparent;
  border: 3px solid tomato;
  border-radius: 1rem;
  padding: 0.4rem 0.2rem;
  margin: 1rem 0;
  cursor: pointer;
}

.btnSubmit:hover {
  background-color: tomato;
  color: white;
}

@media screen and (max-width: 50rem) {
  .flexContainer {
    flex-direction: column;
    align-items: center;
  }
}
