.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexContainer {
  /* 반응형 디자인 적용 */
  display: flex;
  align-items: center;
}
.inputContainer {
  width: 30rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 1rem 0;
}

.inputTitle {
  width: 100%;
  outline: none;
  background-color: rgba(242, 240, 240, 0.872);
  border: 2px solid gray;
  border-top: none;
  border-right: none;
  border-left: none;
}

.imgContainer {
  margin-left: 1rem;
}
.btnContainer {
  width: 30rem;
  display: flex;
  justify-content: space-evenly;
}
.btnSubmit,
.btnDelYes,
.btnDelNo {
  width: 10rem;
  font-size: 1rem;
  font-weight: bold;
  color: tomato;
  background-color: transparent;
  border: 3px solid tomato;
  border-radius: 1rem;
  padding: 0.4rem 0.2rem;
  margin: 1rem 0;
  cursor: pointer;
}

.btnSubmit:hover {
  background-color: tomato;
  color: white;
}

.btnDelete {
  color: #c14;
  border: 3px solid #c14;
}
.btnDelete:hover {
  background-color: #c14;
  color: white;
}

@media screen and (max-width: 50rem) {
  .flexContainer {
    flex-direction: column;
    align-items: center;
  }
}

.modalBtnBox {
  display: flex;
  justify-content: space-around;
}

.btnDelYes {
  width: 5rem;
  color: #c14;
  border-color: #c14;
}
.btnDelYes:hover {
  background-color: #c14;
  color: white;
}
.btnDelNo {
  width: 5rem;
  color: gray;
  border-color: gray;
}
.btnDelNo:hover {
  background-color: gray;
  color: white;
}
